// bower:scss
// endbower

body {
    /*background: #fafafa;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
*{
    margin: 0;
    text-decoration: none;
}


/*.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}*/


/*My code*/

/*top menu bar*/
.menu-boundry {
    width: 110%;
    background-color: #f6f6f6;
    height: 40px;
    margin-bottom: 19px;
    border-bottom: solid 1px #e5e5e5;
    
}
.menu {
    min-width: 1000px;
    height: 38px;
    text-align: center;
    line-height: 40px;
    /*margin-bottom: 1px; */
    /*border: solid 1px gray;*/
    margin-left: 7%;
    margin-right: 5%;
    display: inline-block;

}
.menu * {
    float: left;
   
}
.menu-right {
    float: right;
}

.git-home {
    height: 25px;
    width: 25px; 
    margin-top: 8px;
    margin-left: 30px;
}

.propic {
    height: 20px;
    width: 20px;
}

/*box around main elements*/
.content-main {
    width: 1000px;
    margin-left: 8%;
    /*background-color: blue;*/
}

/*left column settings*/
.info-list {
    float:left; 
    width: 268px;
    /*background-color: #D2D4D9;*/
    min-height: 598px;
    /*text-align: center;*/
    /*border: solid 1px gray;*/
    
}
.info-list div {
    margin-bottom: 10px;
}

.avatar {
    height: 230px;
    width: 230px;
    border-radius: 6px;
    margin-bottom: 10px;

}


.info {
    clear: both;
    float: left;
}
 
.stat-block {
    /*border: solid 1px black;*/
    float: left;
    
}
    
/*tabs pane, above repo pane*/
.tabs {
    float:left; 
    width: 726px;
    /*background-color: #D2D4D9;*/
    height: 100px;
    border: solid 1px gray;
    font-size: 12px;
}
/*top half of tabs.*/
.tabs-top  {
    float: left;
    height: 50px;
    
    div {
        float: left;
    }
    img {
        height: 12px;
        width: 12px;
    }
}

/*bottom half of tabs. accurate if repo is selected*/
.tabs-bottom {
    clear: left;
    height: 50px;
}
.tabs-bottom div {

    float: left;
}
.tabs-bottom img {
    height: 12px;
    width: 12px;
}
.new-repo {
    /*background-color: #68b9fc;*/
    color: white;
    font-size: 12px;
}


/*repo list.*/

.repo-list {
    float: left;
    /*background-color: #D2D4D9;*/
    /*border: solid 1px gray;*/
    width: 726px;
}
.repo-entry {
    min-height: 100px;
    clear: both;
    float: left;
    width: 726px;
    border-bottom: solid 1px gray;
    margin-top: 22px;
    /*margin-bottom: 10px;*/
}
.entry-left {
    float: left;

     div {
        float: left;
     }

     img {
        opacity: 0.5;
     }
}
.entry-right {
    float: right;
}








.contact {
    float:left; 
    min-width: 1022px;
    /*background-color: #D2D4D9;*/
    height: 96px;
    border-top: solid 1px gray;
    margin-left: 8%;
    margin-top: 60px;

        p, a {
            display: inline-block;
        }
}






























